<mat-spinner *ngIf="loading" ></mat-spinner>
<div *ngIf="!loading" >
  <mat-list>
      <h3 mat-subheader>Questions</h3>
      <mat-list-item *ngFor="let question of questions" [routerLink]="['questions', question.id]">

        <mat-icon *ngIf="question.icon === 'none'" mat-list-icon class="contact_support">help</mat-icon>
        <mat-icon *ngIf="question.icon !== 'none'" mat-list-icon class="{{question.icon}}"></mat-icon>

        <h4 mat-line>{{question.title}}</h4>
        <p mat-line>
          <small>{{ question.answers.length}} Answers - {{ question.createdAt | amLocale:'es' | amDateFormat:'MMMM Do YYYY, h:mm:ss a' }}</small>
        </p>
      </mat-list-item>
  </mat-list>
  <button [routerLink]="['questions/new']" mat-fab color="accent" class="add-question">+</button>
</div>
