<!-- The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
    <span [routerLink]="['/']">APP-PARTY</span>
    <span class="space"></span>
    <mat-icon [routerLink]="['/signin']">account_circle</mat-icon>
</mat-toolbar>

<!--
<app-greet></app-greet>
-->

<!--
<app-question-detail></app-question-detail>
-->

<!--
<app-signin-screen></app-signin-screen>
-->

<!--
<app-signup-screen></app-signup-screen>
-->

<!--
<app-question-list></app-question-list>
-->

<!--
<app-question-form></app-question-form>
-->

<router-outlet></router-outlet>
